.terminal {
  --color: rgba(0, 200, 0, 0.99);
  --glow: 1;
}

@media screen and (min-width: 1200px) {
  :root {
    --size: 1.5;
  }
  .terminal-output div:last-child {
    font-size: var(--size) !important;
  }
}

@media (max-width: 600px) {
  .terminal-output div:last-child {
    font-size: 20px !important;
  }
}

.terminal-output div:last-child {
  white-space: pre-wrap;
  word-wrap: break-word;
}
