.terminal {
  --color: rgba(0, 200, 0, 0.99);
  --glow: 1;
}

@media screen and (min-width: 1200px) {
  :root {
    --size: 1.5;
  }
}

@media (max-width: 600px) {
  .terminal div:contains('[BUILD]') {
      font-size: 20px !important;
  }
}
